In [9]:
# 개별 주식이 전체 주식시장의 변동에 반응하는 정도를 나타낸 값이 베타다
# 베타 계산하기
import yfinance as yf
import pandas as pd
import datetime as dt

In [5]:
# 베타를 구하는 방법을 알아보기 위해 주식시장에 대한 대용치로 KOSPI 지수를, 개별 주식으로는 전통적 고베타 주인 증권주를 이용한다
#KOSPI코드(^KS11)와 증권주인 키움증권의 티커(039490.KS)를 입력한다.
tickers=["^KS11","039490.KS"]
all_data={}
for ticker in tickers:
    all_data[ticker]=yf.download(ticker,
                                 start="2019-01-01",
                                 end="2024-12-31")
all_data

[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed

{'^KS11': Price             Close         High          Low         Open  Volume
 Ticker            ^KS11        ^KS11        ^KS11        ^KS11   ^KS11
 Date
 2019-01-02  2010.000000  2053.449951  2004.270020  2050.550049  326400
 2019-01-03  1993.699951  2014.719971  1991.650024  2011.810059  428000
 2019-01-04  2010.250000  2011.560059  1984.530029  1992.400024  409000
 2019-01-07  2037.099976  2048.060059  2030.900024  2034.239990  440200
 2019-01-08  2025.270020  2042.699951  2023.589966  2038.680054  397800
 ...                 ...          ...          ...          ...     ...
 2024-12-23  2442.010010  2446.969971  2413.620117  2423.360107  428200
 2024-12-24  2440.520020  2452.850098  2432.419922  2450.550049  386800
 2024-12-26  2429.669922  2449.520020  2428.820068  2449.520020  322800
 2024-12-27  2404.770020  2423.860107  2388.330078  2419.459961  311300
 2024-12-30  2399.489990  2429.750000  2390.439941  2397.489990  304000

 [1475 rows x 5 columns],
 '039490.KS': Price               Close           High            Low           Open  \
 Ticker          039490.KS      039490.KS      039490.KS      039490.KS
 Date
 2019-01-02   60715.589844   64296.670210   59983.096132   64215.282020
 2019-01-03   59331.988281   61448.081142   58925.047347   60715.587459
 2019-01-04   60878.367188   60959.755379   58273.945062   59250.603359
 2019-01-07   63157.234375   63726.951695   62180.576111   62261.964300
 2019-01-08   62180.570312   63238.616666   62099.182131   63157.228485
 ...                   ...            ...            ...            ...
 2024-12-23  119704.734375  120175.642063  115937.472868  117350.195933
 2024-12-24  121211.640625  121400.003703  119045.465229  120364.006774
 2024-12-26  121400.000000  121965.089216  119516.369279  121965.089216
 2024-12-27  117300.000000  122900.000000  117200.000000  121900.000000
 2024-12-30  116200.000000  118000.000000  114900.000000  116900.000000

 Price         Volume
 Ticker     039490.KS
 Date
 2019-01-02     86300
 2019-01-03     81980
 2019-01-04     85187
 2019-01-07     95092
 2019-01-08     34702
 ...              ...
 2024-12-23     87992
 2024-12-24     73410
 2024-12-26    170512
 2024-12-27    198281
 2024-12-30     88407

 [1475 rows x 5 columns]}

In [9]:
all_data.items()

dict_items([('^KS11', Price             Close         High          Low         Open  Volume
Ticker            ^KS11        ^KS11        ^KS11        ^KS11   ^KS11
Date
2019-01-02  2010.000000  2053.449951  2004.270020  2050.550049  326400
2019-01-03  1993.699951  2014.719971  1991.650024  2011.810059  428000
2019-01-04  2010.250000  2011.560059  1984.530029  1992.400024  409000
2019-01-07  2037.099976  2048.060059  2030.900024  2034.239990  440200
2019-01-08  2025.270020  2042.699951  2023.589966  2038.680054  397800
...                 ...          ...          ...          ...     ...
2024-12-23  2442.010010  2446.969971  2413.620117  2423.360107  428200
2024-12-24  2440.520020  2452.850098  2432.419922  2450.550049  386800
2024-12-26  2429.669922  2449.520020  2428.820068  2449.520020  322800
2024-12-27  2404.770020  2423.860107  2388.330078  2419.459961  311300
2024-12-30  2399.489990  2429.750000  2390.439941  2397.489990  304000

[1475 rows x 5 columns]), ('039490.KS', Price               Close           High            Low           Open  \
Ticker          039490.KS      039490.KS      039490.KS      039490.KS
Date
2019-01-02   60715.589844   64296.670210   59983.096132   64215.282020
2019-01-03   59331.988281   61448.081142   58925.047347   60715.587459
2019-01-04   60878.367188   60959.755379   58273.945062   59250.603359
2019-01-07   63157.234375   63726.951695   62180.576111   62261.964300
2019-01-08   62180.570312   63238.616666   62099.182131   63157.228485
...                   ...            ...            ...            ...
2024-12-23  119704.734375  120175.642063  115937.472868  117350.195933
2024-12-24  121211.640625  121400.003703  119045.465229  120364.006774
2024-12-26  121400.000000  121965.089216  119516.369279  121965.089216
2024-12-27  117300.000000  122900.000000  117200.000000  121900.000000
2024-12-30  116200.000000  118000.000000  114900.000000  116900.000000

Price         Volume
Ticker     039490.KS
Date
2019-01-02     86300
2019-01-03     81980
2019-01-04     85187
2019-01-07     95092
2019-01-08     34702
...              ...
2024-12-23     87992
2024-12-24     73410
2024-12-26    170512
2024-12-27    198281
2024-12-30     88407

[1475 rows x 5 columns])])

In [56]:
prices=pd.DataFrame({tic:data["Close"] for tic,data in all_data.items()},index=[...])
#{tic:data["Close"] for tic,data in all_data.items()}
#dic={tic:data["Close"] for tic,data in all_data.items()}
#dic
#prices=pd.DataFrame([dic])
#prices = pd.DataFrame({tic: data['Close'] for tic, data in all_data.items()},index="Date")

ValueError: Data must be 1-dimensional, got ndarray of shape (1473, 1) instead

In [46]:
ret=prices.pct_change().dropna()

In [47]:
ret

Empty DataFrame
Columns: [^KS11, 039490.KS]
Index: []

In [5]:
oneData=yf.download("^KS11",start="2019-01-01",end="2024-12-31")
print(type(oneData))
oneData

[*********************100%***********************]  1 of 1 completed

<class 'pandas.core.frame.DataFrame'>

Price             Close         High          Low         Open  Volume
Ticker            ^KS11        ^KS11        ^KS11        ^KS11   ^KS11
Date
2019-01-02  2010.000000  2053.449951  2004.270020  2050.550049  326400
2019-01-03  1993.699951  2014.719971  1991.650024  2011.810059  428000
2019-01-04  2010.250000  2011.560059  1984.530029  1992.400024  409000
2019-01-07  2037.099976  2048.060059  2030.900024  2034.239990  440200
2019-01-08  2025.270020  2042.699951  2023.589966  2038.680054  397800
...                 ...          ...          ...          ...     ...
2024-12-23  2442.010010  2446.969971  2413.620117  2423.360107  428200
2024-12-24  2440.520020  2452.850098  2432.419922  2450.550049  386800
2024-12-26  2429.669922  2449.520020  2428.820068  2449.520020  322800
2024-12-27  2404.770020  2423.860107  2388.330078  2419.459961  311300
2024-12-30  2399.489990  2429.750000  2390.439941  2397.489990  304000

[1475 rows x 5 columns]

In [6]:
oneData["Close"]

Ticker            ^KS11
Date
2019-01-02  2010.000000
2019-01-03  1993.699951
2019-01-04  2010.250000
2019-01-07  2037.099976
2019-01-08  2025.270020
...                 ...
2024-12-23  2442.010010
2024-12-24  2440.520020
2024-12-26  2429.669922
2024-12-27  2404.770020
2024-12-30  2399.489990

[1475 rows x 1 columns]

In [12]:
tickers=["^KS11","039490.KS"]
start = dt.datetime.today()-dt.timedelta(1825)
end = dt.datetime.today()
cl_price = pd.DataFrame()

for ticker in tickers:
    cl_price[ticker] = yf.download(ticker, start, end)["Close"]
cl_price

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                  ^KS11      039490.KS
Date
2020-01-20  2262.639893   67779.593750
2020-01-21  2239.689941   67529.164062
2020-01-22  2267.250000   68113.468750
2020-01-23  2246.129883   64774.582031
2020-01-28  2176.719971   60183.593750
...                 ...            ...
2025-01-10  2515.780029  121300.000000
2025-01-13  2489.560059  119600.000000
2025-01-14  2497.399902  120900.000000
2025-01-15  2496.810059  121500.000000
2025-01-16  2527.489990  121500.000000

[1228 rows x 2 columns]

In [15]:
ret=cl_price.pct_change().dropna()
ret

               ^KS11  039490.KS
Date
2020-01-21 -0.010143  -0.003695
2020-01-22  0.012305   0.008653
2020-01-23 -0.009315  -0.049019
2020-01-28 -0.030902  -0.070876
2020-01-29  0.003933   0.008322
...              ...        ...
2025-01-10 -0.002427   0.010833
2025-01-13 -0.010422  -0.014015
2025-01-14  0.003149   0.010870
2025-01-15 -0.000236   0.004963
2025-01-16  0.012288   0.000000

[1227 rows x 2 columns]